* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE */

img {
    width: 100%;
    display: inline-block;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 18px;
}


.descrizione>h3{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* /STYLE */
/* DEBUG */
.debug .contenitore {
    background-color: yellow;
}

.debug .box {
    border: 2px solid black;
}
/* /DEBUG */
/* BOX */
.contenitore {
    max-width: 1400px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px 0;
}

.box {
    width: 450px;
    position: relative;
}



.primo-prezzo {
    color: red;
}

.secondo-prezzo {
    color: grey;
    text-decoration: line-through;
}
/* /BOX */

/* immagini position */

.cuore {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 1;
}

.cuore .fa-heart{
    font-size: 20px;
    padding: 15px 15px;
}

.importante{
    position: absolute;
    bottom: 130px;
}
.sconto{
    background-color: red;
    color: white;
    padding: 5px 10px;
}
.qualita{
    background-color: green;
    color: white;
    padding: 5px 10px;
}

.immagine-nascosta{
    display: none;
}

.immagine-nascosta{
    position: absolute;
    left: 0;
    top: 0;
}
.cambio-immagine:hover .immagine-nascosta{
    display: block;
}
