* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 120px;
}

footer {
    background-color: #1a1a1a;
    color: white;
}


/* STYLE */

img {
    width: 100%;
    display: inline-block;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.descrizione>h3 {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* /STYLE */
/* HEADER */
nav {
    justify-content: space-around;
    background-color: #ff6900;
    height: 70px;
    align-items: center;
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0px 0px 10px 0px black;
}

img.logo {
    width: 200px;
    color: #e7e7e7;
    opacity: 0.5;
}

.speciali {
    word-spacing: 10px;
}

/* MAIN */
/* BOX */

main {
    max-width: 1400px;
    margin: 0 auto;
}

.contenitore {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    width: 450px;
    position: relative;
}

.primo-prezzo {
    color: red;
}

.secondo-prezzo {
    color: grey;
    text-decoration: line-through;
}

/* /BOX */
/* /MAIN */


/* FOOTER */
.contenitore-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 250px;
    margin-top: 60px;
    line-height: 30px;
    box-shadow: 0px 0px 10px 0px black;
}

div.contenitore-footer a {
    padding-right: 10px;
}

/* /FOOTER */


/* IMMAGINI POSITION */
/* CUORE */
.cuore {
    position: absolute;
    right: 0;
    top: 10px;
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 1;
}

.cuore .fa-heart {
    font-size: 20px;
    padding: 15px 15px;
}

/* /CUORE */
/* SCONTO-QUALITA */
.importante {
    position: absolute;
    bottom: 130px;
    color: white;
}

.sconto {
    background-color: red;
    padding: 5px 10px;
}

.qualita {
    background-color: green;
    padding: 5px 10px;
}

/* /SCONTO-QUALITA */
/* /IMMAGINI POSITION */

/* HOVER */

.immagine-nascosta {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.cambio-immagine:hover .immagine-nascosta {
    display: block;
}

.nascosta.fa-solid.fa-heart {
    display: none;
    position: absolute;
    z-index: 1;
}

.cuore:hover .nascosta.fa-solid.fa-heart {
    display: block;
    right: 0;
    top: 0px;
}

/* /HOVER */